src/main/mule/views/Account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="view-account">

		<logger level="INFO" category="app" message="#['Process Account View']" />

		<!-- Read Watermark -->
        <set-variable doc:name="set view" variableName="view" value="account" />
		<flow-ref name="watermark-read"/>

		<!-- Create query for Database View -->
		<ee:transform doc:name="query Account" >
			<ee:variables >
				<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
					output application/json skipNullOn="everywhere"
					---
					" SELECT top " ++ vars.maxRecords as String ++
					"   CustomerAccountNumber, OwnerContactID, AccountTierLevelNum, AccountTierLevelDesc, FreezeCode, FreezeDesc, " ++
					"   AccountTypeCode, AccountTypeDescription, AccountCategoryCode, AccountCategoryDescription, AdminOfficerContactID, " ++
					"   AdministratorName, ActiveFlag, ClosedFlag, CustomerDescriptionLine1, CustomerDescriptionLine2, CustomerDescriptionLine3, CustomerDescriptionLine4, StatementVsValidFrom_difference, " ++
					"   FORMAT(DateOpened, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS DateOpened, " ++
					"   FORMAT(ClosedDate, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS ClosedDate, " ++
					"   FORMAT(StatementDateTime, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS StatementDateTime, " ++
					"   FORMAT(ValidFrom, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS ValidFrom " ++
					" FROM Vcrm_AccountMaster "
				]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<flow-ref name="mssql-query"/>

		<choice doc:name="records to process?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>
				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json skipNullOn="everywhere"
							---
							payload map (item, value) ->{
								account: 			   trim(item.CustomerAccountNumber),
								contactId: 			   trim(item.OwnerContactID as String),
								tierLevelCode: 		   trim(item.AccountTierLevelCode),
								tierLevelDescription:  trim(item.AccountTierLevelDesc),
								freezeCode: 		   trim(item.FreezeCode),
								freezeDescription: 	   trim(item.FreezeDesc),
								typeCode: 			   trim(item.AccountTypeCode),
								typeDescription: 	   trim(item.AccountTypeDescription),
								categoryCode: 		   trim(item.AccountCategoryCode),
								categoryDescription:   trim(item.AccountCategoryDescription),
								adminOfficerId: 	   trim(item.AdminOfficerContactID) as String,
								adminOfficerName: 	   trim(item.AdministratorName),
								activeFlag: 		   if (item.ActiveFlag != 0) true else false,
								openedDate: 		   trim(item.DateOpened),
								closedDate: 		   trim(item.ClosedDate),
								closedFlag: 		   if (item.ClosedFlag != 0) true else false,
								line1: 				   trim(item.CustomerDescriptionLine1),
								line2: 				   trim(item.CustomerDescriptionLine2),
								line3: 				   trim(item.CustomerDescriptionLine3),
								line4: 				   trim(item.CustomerDescriptionLine4),
								date: 				   trim(item.ValidFrom),
								statementDate: 		   trim(item.StatementDateTime)
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<set-variable doc:name="set servicePath" variableName="servicePath" value="${service.path.account}" />
				<set-variable doc:name="set statusValidator" variableName="statusValidator" value="200" />
				<flow-ref name="send-api"/>
            </when>
			<otherwise>
				<flow-ref name="watermark-update-norecords"/>
			</otherwise>
        </choice>     

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
