src/main/mule/views/accountudf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="view-accountudf">

		<logger level="INFO" category="app" message="#['Process Account Master UDF View']" />

		<!-- Read Watermark -->
        <set-variable doc:name="set view" variableName="view" value="accountudf" />
		<flow-ref name="watermark-read"/>

		<!-- Create query for Database View -->
		<ee:transform doc:name="query accountudf" >
			<ee:variables >
				<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
					output application/json skipNullOn="everywhere"
					---
					" SELECT top " ++ vars.maxRecords as String ++
					"   RTRIM(CustomerAccountNumber) as CustomerAccountNumber, " ++
					"   RTRIM(Managed_Agency_Code) as Managed_Agency_Code, " ++
					"   RTRIM(BirthCert_OnFile) as BirthCert_OnFile, " ++
					"   RTRIM(Long_Name_Line_5) as Long_Name_Line_5, " ++
					"   RTRIM(Pending_SocialServices_Assessment) as Pending_SocialServices_Assessment, " ++
					"   RTRIM(Non_Responsive_Guardian) as Non_Responsive_Guardian, " ++
					"   FORMAT(Age_Of_Majority, 'yyyy-MM-dd') AS Age_Of_Majority, " ++
					"   FORMAT(DistPlan_ExpireDate, 'yyyy-MM-dd') AS DistPlan_ExpireDate, " ++
					"   FORMAT(Temporary_CourtOrder_ExpireDate, 'yyyy-MM-dd') AS Temporary_CourtOrder_ExpireDate, " ++
					"   FORMAT(StartTime, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS StartTime " ++
					" FROM VCrm_AccountMaster_UDF  " ++
					" WHERE StartTime > :validFrom "
				]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<flow-ref name="mssql-query"/>

		<choice doc:name="records to process?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>
				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json skipNullOn="everywhere"
							---
							payload map (item, value) ->{
								account: 				item.CustomerAccountNumber as String,
								distributionExpiration: item.DistPlan_ExpireDate,
								temporaryCourtOrderExp: item.Temporary_CourtOrder_ExpireDate,
								birthCertificate: 		item.BirthCert_OnFile,
								ageMajority: 			item.Age_Of_Majority,
								line5: 					item.Long_Name_Line_5,

								pendingSocServ: if (!isEmpty(item.tierLevelCode)) item.tierLevelCode else "#N/A",

								pendingSocServ: 			if (item.Pending_SocialServices_Assessment != 0) true else false,

								pendingSocServ: 		item.Pending_SocialServices_Assessment,
								managedAgencyCode: 		item.Managed_Agency_Code,
								managedAgencyName: 		item.Managed_Agency_Name,
								nonResponsiveGuardian: 	item.Non_Responsive_Guardian,
								date: 					item.StartTime
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<set-variable doc:name="set servicePath" variableName="servicePath" value="${service.path.accountudf}" />
				<set-variable doc:name="set statusValidator" variableName="statusValidator" value="200" />
				<flow-ref name="send-api"/>
            </when>
			<otherwise>
				<flow-ref name="watermark-update-norecords"/>
			</otherwise>
        </choice>     

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
