src/main/mule/views/agencyregion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd	
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http 
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/vm 
		http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="queue-agencyregion">
		<vm:listener doc:name="Listener" config-ref="VM_Config" queueName="agencyregion" timeout="60" timeoutUnit="MINUTES"/>
		<flow-ref name="initialize-process" doc:name="initialize process"/>

		<!-- Get validFrom Watermark -->
		<flow-ref name="query-watermark-validfrom" doc:name="get watermark data"/>

		<!-- Get the expected the number of records to process for all batches, triggered only in first batch  -->
		<choice doc:name="custom watermark dates?" >
            <when expression='#[ isEmpty(vars.customWatermarkStart) ]'>
				<set-variable doc:name="query expected records" variableName="query" 
					value='#["SELECT count(*) total from Vcrm_RegionAgencyTribe WHERE ValidFrom > :validFrom" ]' />
			</when>
			<otherwise>
				<set-variable doc:name="query expected records with custom watermark" variableName="query" 
					value="#['SELECT count(*) total from Vcrm_RegionAgencyTribe WHERE ValidFrom between :start and :end' ]" />
			</otherwise>
		</choice>

		<flow-ref name="get-expected-records" doc:name="get expected records to process"/>

		<choice doc:name="query view?" >
            <when expression='#[ vars.expectedRecords > 0 ]'>
				<!-- Create query for view -->
				<flow-ref name="save-status-step4" doc:name="save batch status 4"/>
				<ee:transform doc:name="sql for view" >
					<ee:variables >
						<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
							output application/json skipNullOn="everywhere"
							---
							" SELECT " ++
							"   UPPER(RTRIM(CustomerAccountNumber_Key)) as CustomerAccountNumber_Key, " ++
							"   RTRIM(Agency_Code) as Agency_Code, " ++
							"   RTRIM(AgencyName) as AgencyName, " ++
							"   RTRIM(Region_Code) as Region_Code, " ++
							"   RTRIM(RegionName) as RegionName, " ++
							"   RTRIM(Tribe_Code) as Tribe_Code, " ++
							"   RTRIM(TribeName) as TribeName, " ++
							"   FORMAT(ValidFrom, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS ValidFrom " ++
							" FROM Vcrm_RegionAgencyTribe  " ++
							" WHERE " ++ (
								if (isEmpty(vars.customWatermarkStart))
									" ValidFrom > :validFrom "
								else 
									" ValidFrom between :start and :end "
							) ++							
							" ORDER BY ValidFrom, CustomerAccountNumber_Key " ++
							" OFFSET " ++ (vars.offset as String) ++ " ROWS " ++
							" FETCH NEXT " ++ (vars.maxRecords as String) ++ " ROWS ONLY"
						]]]>
						</ee:set-variable>
						<!-- -->
					</ee:variables>
				</ee:transform>

				<flow-ref name="mssql-main-query" doc:name="query main db"/>
			</when>
			<otherwise>
				<!-- There is no data to process, initializing varialbes for next steps-->
				<set-variable doc:name="initialized processed records" variableName="recordsProcessed" value="#[0]"/>
				<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[200]'  />
			</otherwise>
		</choice>


		<choice doc:name="create API payload?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>

				<flow-ref name="save-status-step5" doc:name="save batch status 5"/>

				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json skipNullOn="everywhere"
							---
							payload map (item, value) ->{
								account: 			item.CustomerAccountNumber_Key,
								(agencyCode: 		item.Agency_Code) if (!isEmpty(item.Agency_Code)),
								(agencyDescription: item.AgencyName) if (!isEmpty(item.AgencyName)),
								(regionCode: 		item.Region_Code) if (!isEmpty(item.Region_Code)),
								(regionDescription: item.RegionName) if (!isEmpty(item.RegionName)),
								(tribeCode: 		item.Tribe_Code as String) if (!isEmpty(item.Tribe_Code)),
								(tribeDescription: 	item.TribeName) if (!isEmpty(item.TribeName)),
								date: 				trim(item.ValidFrom)
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<!-- firstElementDate is needed if an error occurs, then watermark validFrom = firstElementDate -->
				<set-variable doc:name="set firstElementDate" variableName="firstElementDate" value='#[payload[0].date]'  />
				<flow-ref name="call-api" doc:name="call api"/>
            </when>
        </choice>

		<!-- Analyze results and post message to the response queue -->
		<flow-ref name="publish-message" doc:name="analyze and route message"/>

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
