src/main/mule/views/CashTransaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="view-contact">

		<logger level="INFO" category="app" message="#['Process Cash Transaction View']" />

		<!-- Read Watermark -->
        <set-variable doc:name="set view" variableName="view" value="cashtransaction" />
		<flow-ref name="watermark-read"/>

		<!-- Create query for Database View -->
        <set-variable doc:name="set maxRecords" variableName="maxRecords" value="${maxrecords}" />
		<ee:transform doc:name="query contact" >
			<ee:variables >
				<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
					output application/json skipNullOn="everywhere"
					---
					" SELECT top " ++ vars.maxRecords as String ++
					"   CustomerAccountNumber, TransactionNumber, TransactionCode, DisbursementText, DebitCreditIndicator, " ++
					"   Amount, Status, SettledFlag, PrincIncomeIndicator, TaxCode, TaxYear," ++
					"   FORMAT(SettleDate, 'yyyy-MM-dd') AS SettleDate, " ++
					"   FORMAT(LastModifiedDate, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS LastModifiedDate " ++
					" FROM cashtransaction  " ++
					" WHERE LastModifiedDate > :LastModifiedDate "
				]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<flow-ref name="mssql-query"/>

		<choice doc:name="records to process?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>
				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json
							---
							payload map (item, value) ->{
								account: 				item.CustomerAccountNumber as String,
								transaction: 			item.TransactionNumber,
								code: 					item.TransactionCode,
								disbursementText: 		item.DisbursementText,
								debitCreditIndicator: 	item.DebitCreditIndicator,
								amount: 				item.Amount,
								settleDate: 			item.SettleDate,
								status: 				item.Status,
								settleFlag: 			item.SettledFlag,
								incomeIndicator: 		item.PrincIncomeIndicator,
								taxCode: 				item.TaxCode,
								taxYear: 				item.TaxYear,
								date: 					item.LastModifiedDate
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<set-variable doc:name="set servicePath" variableName="servicePath" value="${service.path.cashtransaction}" />
				<set-variable doc:name="set statusValidator" variableName="statusValidator" value="200" />
				<flow-ref name="send-api"/>
            </when>
			<otherwise>
				<flow-ref name="watermark-update-norecords"/>
			</otherwise>
        </choice>     

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
