src/main/mule/views/contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="view-contact">

		<logger level="INFO" category="app" message="#['Process Contact View']" />

		<!-- Read Watermark -->
        <set-variable doc:name="set view" variableName="view" value="contact" />
		<flow-ref name="watermark-read"/>

		<!-- Create query for Database View -->
		<ee:transform doc:name="query contact" >
			<ee:variables >
				<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
					output application/json skipNullOn="everywhere"
					---
					" SELECT top " ++ vars.maxRecords as String ++
					"   ContactID, PrimaryLastName, PrimaryFirstName, PrimaryMiddleInitial, ContactName, " ++
					"   PrimaryGender, SSN, SSNFlag, ActiveFlag, DisbursementEligibilityFlag, " ++
					"   FORMAT(DateOfBirth, 'yyyy-MM-dd') AS DateOfBirth, " ++
					"   FORMAT(DateOfDeath, 'yyyy-MM-dd') AS DateOfDeath, " ++
					"   FORMAT(ValidFrom, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS ValidFrom " ++
					" FROM VCrm_ContactMaster  " ++
					" WHERE ValidFrom > :validFrom "
				]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<flow-ref name="mssql-query"/>

		<choice doc:name="records to process?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>
				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json skipNullOn="everywhere"

							// Next functions mask sensitive data and are only temporal before production
							fun maskData(num: Any) = "*masked*"
							fun replaceInitialChars(str: String) = 
  								if(sizeOf(str) > 3)
    								"***" ++ (str as String)[3 to -1] // Replace first 3 characters and append the rest
  								else
    								"***" // If less than 3 characters, just replace the whole string

							---
							payload map (item, value) ->{
								contactId: 		 item.ContactID as String,
								(firstName: 	 item.PrimaryFirstName) if (!isEmpty(item.PrimaryFirstName)),
								(lastName: 		 item.PrimaryLastName) if (!isEmpty(item.PrimaryLastName)),
								(middleInitial:  item.PrimaryMiddleInitial) if (!isEmpty(item.PrimaryMiddleInitial)),
								name: 			 item.ContactName,
								(gender: 		 item.PrimaryGender) if (!isEmpty(item.PrimaryGender)),
								(ssn: 			 item.SSN) if (!isEmpty(item.SSN)),
								ssnFlag: 		 !isEmpty(item.SSNFlag) and item.SSNFlag != 0,
								(dob: 			 item.DateOfBirth) if (!isEmpty(item.DateOfBirth)),
								(dod: 			 item.DateOfDeath) if (!isEmpty(item.DateOfDeath)),
								activeFlag: 	 !isEmpty(item.ActiveFlag) and item.ActiveFlag != 0,
								disbursementFlag:!isEmpty(item.DisbursementEligibilityFlag) and item.DisbursementEligibilityFlag != 0,
								date: 			 item.ValidFrom
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<set-variable doc:name="set servicePath" variableName="servicePath" value="${service.path.contact}" />
				<set-variable doc:name="set statusValidator" variableName="statusValidator" value="200" />
				<flow-ref name="send-api"/>
            </when>
			<otherwise>
				<flow-ref name="watermark-update-norecords"/>
			</otherwise>
        </choice>     

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
