src/main/mule/views/disbursement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="view-disbursement">

		<logger level="INFO" category="app" message="#['Process Disbursement View']" />

		<!-- Read Watermark -->
        <set-variable doc:name="set view" variableName="view" value="disbursement" />
		<flow-ref name="watermark-read"/>

		<!-- Create query for Database View -->
		<ee:transform doc:name="query disbursement" >
			<ee:variables >
				<ee:set-variable variableName="query"><![CDATA[#[ %dw 2.0
					output application/json skipNullOn="everywhere"
					---
					" SELECT top " ++ vars.maxRecords as String ++
					"   RTRIM(CustomerAccountNumber) as CustomerAccountNumber, " ++
					"   RTRIM(TransactionNumber) as TransactionNumber, " ++
					"   RTRIM(TransactionCode) as TransactionCode, " ++
					"   RTRIM(Status) as Status, " ++
					"   RTRIM(TaxCode) as TaxCode, " ++
					"   RTRIM(DisbursementText) as DisbursementText,  " ++
					"   DebitCreditIndicator, Amount, SettledFlag, PrincIncomeIndicator, TaxYear, " ++
					"   FORMAT(SettleDate, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS SettleDate, " ++
					"   FORMAT(EffectiveDate, 'yyyy-MM-ddTHH:mm:ss.fffZ') AS EffectiveDate " ++
					" FROM VCrm_Disbursement " ++
					" WHERE EffectiveDate > :validFrom "
				]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<flow-ref name="mssql-query"/>

		<choice doc:name="records to process?" >
            <when expression='#[ vars.recordsProcessed > 0 ]'>
				<ee:transform doc:name="api payload" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json skipNullOn="everywhere"
							---
							payload map (item, value) ->{
								account: 				item.CustomerAccountNumber as String,
								transaction: 			item.TransactionNumber,
								code: 					item.TransactionCode,
								disbursementText: 		item.DisbursementText,
								debitCreditIndicator: 	item.DebitCreditIndicator,
								amount: 				item.Amount as Number,
								settleDate: 			item.SettleDate,
								status: 				item.Status,
								settleFlag: 			if (item.SettledFlag != 0) true else false,
								incomeIndicator: 		item.PrincIncomeIndicator,
								taxCode: 				item.TaxCode,
								taxYear: 				item.TaxYear,
								date: 					item.EffectiveDate
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>

				<set-variable doc:name="set servicePath" variableName="servicePath" value="${service.path.disbursement}" />
				<set-variable doc:name="set statusValidator" variableName="statusValidator" value="200" />
				<flow-ref name="send-api"/>
            </when>
			<otherwise>
				<flow-ref name="watermark-update-norecords"/>
			</otherwise>
        </choice>     

        <error-handler ref="global-error-handler" />
	</flow>
</mule>
