src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/vm
		http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/os 
		http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit 
		http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  
		http://www.mulesoft.org/schema/mule/cloudhub 
		http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]"> 
                <http:body>#[payload default {}]</http:body>
                <http:headers>#[(vars.outboundHeaders default {}) ++ ({"correlationId" : correlationId})]</http:headers>
            </http:error-response> 
        </http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler ref="global-error-handler"/>
    </flow>

    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body> 
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener> 
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-error-handler" />
    </flow>

	<flow name="get:\watermark\(view):api-config">
		<flow-ref name="endpoint-watermark-get"/>
	</flow>

	<flow name="post:\watermark:application\json:api-config"> 
		<flow-ref name="endpoint-watermark-post"/>
	</flow>

	<flow name="get:\etl:api-config"> 
		<flow-ref name="endpoint-etl"/>
	</flow>

	<flow name="get:\etl\(view)\execute:api-config">
		<flow-ref name="endpoint-etl-view"/>
	</flow>

	<flow name="get:\etl\(view)\status:api-config">
		<flow-ref name="endpoint-etl-status"/>
	</flow>
</mule>