src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
		
	<flow name="api" >
		<http:listener doc:name="Listener" config-ref="api-httpListenerConfig" path="/etl" />

		<set-variable doc:name="start service" variableName="start" value="#[now() as Number {unit: 'milliseconds'}]" />
		<logger level="INFO" doc:name="log" message='#["Http call"]' />

		<flow-ref doc:name="Flow Reference"  name="etl-process"/>
	</flow>
	
	<flow name="etl-process">

		<logger level="INFO" doc:name="log" message="#['ETL process started']"/>
		<set-variable doc:name="service time" variableName="serviceProcessingTime" value="#[(now() as Number {unit: 'milliseconds'}) - vars.start]"  />
		<set-variable doc:name="message" variableName="message" value="#['ETL proccess started']"  />
		<set-variable doc:name="httpStatus" variableName="httpStatus" value="#['200']"  />

		<ee:transform doc:name="add result to batchList" >
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
					output application/json
					---
					{
						message: vars.message,
						status: vars.httpStatus,
						serviceProcessingTime: vars.serviceProcessingTime,
						correlationId: correlationId
					}
					]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>		
	</flow>
</mule>
