src/main/mule/common-tools.xml
<mule
    xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/db 			http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<!-- Common tools: database operations, HTTP client, etc. -->

    <sub-flow name="mssql-watermark-update">
        <!-- <logger doc:name="sql update" level="INFO" category="app" message="#['Watermark Update, sql: ' ++ vars.query]"/> -->

		<db:update doc:name="sqlserver update" config-ref="Database_Config_Watermark">
            <db:sql><![CDATA[#[ vars.query ]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 
				lastErrorResponse: vars.lastErrorResponse,
				lastErrorDate: now() as String {format: "yyyy-MM-dd HH:mm:ss:SSS"},
				lastExecution: vars.lastExecution as String {format: "yyyy-MM-dd HH:mm:ss:SSS"},
				apiResponse: write(vars.batchResponse, "application/json") 
            }]]]></db:input-parameters>
		</db:update>
	</sub-flow>

	<sub-flow name="mssql-watermark-query">
        <!-- <logger doc:name="sql query" level="INFO" category="app" message="#['Watermark Query, sql: ' ++ vars.query]"/> -->

        <db:select doc:name="database watermark" config-ref="Database_Config_Watermark">
            <db:sql><![CDATA[#[ vars.query ]]]></db:sql>
            <db:input-parameters ><![CDATA[#[{ 
            }]]]>
            </db:input-parameters>
        </db:select>

		<set-variable doc:name="set recordsProcessed" variableName="recordsProcessed" value='#[if (!isEmpty(payload)) sizeOf(payload) else 0]'  />
		<set-variable doc:name="set lastExecution" variableName="lastExecution" value='#[now() as String {format: "yyyy/MM/dd HH:mm:ss"}]'  />
		<!-- <logger doc:name="num records" level="INFO" category="app" message="#['Records from watermark: ' ++ (vars.recordsProcessed as String) ]"/> -->
	</sub-flow>

	<sub-flow name="mssql-main-query">
        <!-- <logger doc:name="sql query" level="INFO" category="app" message="#['main db query: ' ++ vars.query]"/> -->
		<!-- <logger level="INFO" category="app" 
			message="#[output application/java - 'Query main db, validFrom: ' ++ vars.validFrom ++ ', custom start/end: ' ++ if (!isEmpty(vars.customWatermarkStart)) 'true' else 'false']" />
		-->
		<db:select doc:name="database main" config-ref="Database_Config_Main">
			<db:sql><![CDATA[#[ vars.query ]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 
				validFrom: vars.validFrom,
				start: vars.customWatermarkStart,
				end: vars.customWatermarkEnd
            }]]]>
			</db:input-parameters>
		</db:select>
		<set-variable doc:name="set recordsProcessed" variableName="recordsProcessed" value='#[if (!isEmpty(payload)) sizeOf(payload) else 0]'  />
		<!-- <logger doc:name="num records" level="INFO" category="app" message="#['Records from main db: ' ++ (vars.recordsProcessed as String) ]"/> -->
        
        <!-- if the response from database is empty then an error is raised when finish the execution of the flow/queue. 
            Just by publishing a message to queue is not sufficient to set the payload. The payload must be
            initialized with an empty value
        -->
        <choice doc:name="initialize payload?" >
            <when expression='#[ vars.recordsProcessed == 0 ]'>
                <set-payload doc:name="initialize payload to avoid error" value="#[{}]"/>
                <set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[200]'  />
            </when>
        </choice>
	</sub-flow>

	<!-- ********************************************* --> 
	<!-- HTTP request utilities                        -->
	<!-- ********************************************* --> 

	<flow name="call-api">

		<logger doc:name="call POST" level="INFO" category="app" message='#[output application/java --- "ETL: " ++ vars.view ++ ", API path: " ++ vars.servicePath ++ ", payload size: " ++ ( sizeOf(payload) as String) ++ ", validFrom: " ++ vars.validFrom ]' />

		<set-variable doc:name="set apiInputPayload" variableName="apiInputPayload" value='#[payload]'  />

		<http:request config-ref="HTTP_Request_Configuration" 
			method="POST" path="#[vars.servicePath ++ '?batchNumber=' ++ vars.batchNumber]" responseTimeout="#[1800000]" sendCorrelationId="ALWAYS">
			<http:headers><![CDATA[#[output application/java ---
				{
					"Content-Type"  : "application/json",
                    "client_id"     : "${service.clientid}",
                    "client_secret" : "${service.clientsecret}"
				}]]]>
			</http:headers>
			<http:response-validator>
				<http:success-status-code-validator values="#[vars.statusValidator]" />
			</http:response-validator>
		</http:request>

		<!-- <logger doc:name="response" level="INFO" message='#[payload]' /> -->
		<!-- <logger doc:name="status code" level="INFO" message='#["Response status code: " ++ (attributes.statusCode as String)]' />  -->
		<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[200]'  />
		<set-variable doc:name="set httpMessage" variableName="httpMessage" value='#[payload]'/>

		<error-handler>
			<on-error-continue enableNotifications="false" logException="false">
				<logger level="INFO" category="app" message="There was an error while calling the service through the POST method" />
				<logger level="INFO" category="app" message="#[error.errorMessage.payload]" />
				<logger level="INFO" category="app" message="#[error.errorMessage]" />
				<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[error.errorMessage.attributes.statusCode]'  />
				<set-variable doc:name="set httpMessage" variableName="httpMessage" value='#[error.errorMessage.payload]'/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>