src/main/mule/endpoint-etl-view.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 	http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/vm			http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/os 			http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<flow name="endpoint-etl-view">
		<set-variable doc:name="get view to process" variableName="view" value="#[attributes.uriParams.view]" />
		<set-variable doc:name="get watermark start" variableName="customWatermarkStart" value="#[attributes.queryParams.start as DateTime default '']" />
		<set-variable doc:name="get watermark end" variableName="customWatermarkEnd" value="#[attributes.queryParams.end as DateTime default '' ]" />
		<set-variable doc:name="get MaxRecords" variableName="customMaxRecords" value="#[attributes.queryParams.maxrecords as String default '' ]" />
		<set-variable doc:name="get id list" variableName="customId" value="#[attributes.queryParams.id as String default '' ]" />
		
		<set-variable doc:name="set isProcessTriggered" variableName="isProcessTriggered" value="#[true]" />
		<logger doc:name="view" level="INFO" category="app" 
			message="#['Request ETL, view: ' ++ vars.view ++ ', start: ' ++ vars.customWatermarkStart ++ ', end: ' ++ vars.customWatermarkEnd ++ ', id: ' ++ vars.customId]"/>

		<choice doc:name="verify if view is valid" >
            <when expression='#[ ["contact","account","accountudf","balance","disbursement","agencyregion","phone","payment","address", "email", "tribe"] contains vars.view ]'>

				<os:retrieve key="#[vars.view]" objectStore="Object_store" target="etlMemoryStatus">
					<os:default-value>#[""]</os:default-value>
				</os:retrieve>

				<choice doc:name="is the etl process running ?" >
            		<when expression='#[ isEmpty(vars.etlMemoryStatus) ]'>

						<!-- Start the ETL process, create the message for the queue-->

						<ee:transform doc:name="queue message" >
							<ee:variables >
								<ee:set-variable variableName="queueMessage"><![CDATA[#[ %dw 2.0
									output application/json
									---
									{
										view: vars.view,
										correlationId: correlationId,
										customWatermarkStart: vars.customWatermarkStart,
										customWatermarkEnd: vars.customWatermarkEnd,
										customMaxRecords: vars.customMaxRecords,
										expectedRecords: 0,
										offset: 0,
										batchNumber: 0,
										totalRecords: 0,
										startDate: now(),
										lastRecordDate: '',
										apiResponseHistory:[
											],
										lastApiInputPayload:{}
									}
									]]]>
								</ee:set-variable>
							</ee:variables>
						</ee:transform>	

						<flow-ref name="save-status-step1" doc:name="save batch status 1"/>

						<vm:publish queueName="#[vars.view]" doc:name="Publish" config-ref="VM_Config" sendCorrelationId="ALWAYS">
							<vm:content ><![CDATA[#[%dw 2.0
								output application/json
								---
								vars.queueMessage
							]]]></vm:content>
						</vm:publish>

						<ee:transform doc:name="http response" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
									output application/json
									---
									{
										status: 200,
										message: "Service started successfully",
										view: vars.view,
										currentBatchMetadata: vars.queueMessage
									}
									]]>
								</ee:set-payload>
							</ee:message>
						</ee:transform>						

					</when>
					<otherwise>

						<ee:transform doc:name="Must not run two ETL instances" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
									output application/json
									---
									{
										status: 419,
										message: "The service is still processing, can not have more than once instance running",
										view: vars.view,
										etlStatus: vars.etlMemoryStatus
									}
									]]>
								</ee:set-payload>
							</ee:message>
						</ee:transform>		
					</otherwise>
				</choice>

			</when>
			<otherwise>
				<ee:transform doc:name="http response" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json
							---
							{
								status: 404,
								message: "Incorrect view",
								view: vars.view
							}
							]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>

	</flow>
</mule>