src/main/mule/endpoint-etl-orchestrator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/vm
		http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/os 
		http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit 
		http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  
		http://www.mulesoft.org/schema/mule/cloudhub 
		http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">

	<flow name="endpoint-etl"> 
		<cloudhub:create-notification doc:name="Create Notification" config-ref="CloudHub_Config" 
			domain="${notification.domain}" transactionId="#[correlationId]" priority="${notification.priority}">
			<cloudhub:message><![CDATA[#["${notification.message.mainetl}"]]]></cloudhub:message>
			<cloudhub:custom-properties><![CDATA[#[output application/java
				---
				{
					correlationId: correlationId,
					date: now()
				}]]]>
			</cloudhub:custom-properties>
		</cloudhub:create-notification>

		<ee:transform doc:name="response from watermark" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
					output application/json
					---
					{
						status: 200,
						message: "The orchestrator ETL run sucessfully",
						correlationId: correlationId
					}
					]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>		
	</flow>
	
</mule>