src/main/mule/scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/vm
		http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/os 
		http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit 
		http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  
		http://www.mulesoft.org/schema/mule/cloudhub 
		http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">

	<flow name="scheduler-contact">
  		<scheduler doc:name="contact orchestrator" disallowConcurrentExecution="true">
    		<scheduling-strategy>
    			<fixed-frequency frequency="30" timeUnit="MINUTES" startDelay="5"/>
    		</scheduling-strategy>
  		</scheduler>
		<logger level="INFO" category="app" 
			message="#[output application/java --- 'Executing contact orchestrator: this is only a test message']" />
	</flow>

	<flow name="scheduler-account">
  		<scheduler doc:name="account orchestrator" disallowConcurrentExecution="true">
    		<scheduling-strategy>
    			<fixed-frequency frequency="60" timeUnit="MINUTES" startDelay="10"/>
    		</scheduling-strategy>
  		</scheduler>
		<logger level="INFO" category="app" 
			message="#[output application/java --- 'Executing account orchestrator: this is only a test message']" />
	</flow>
</mule>