src/main/mule/scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 	http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/vm 			http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/os 			http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/cloudhub 	http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">

	<flow name="orchestrator-contact">
		
  		<scheduler disallowConcurrentExecution="true">
    		<scheduling-strategy>
    			<fixed-frequency frequency="25" timeUnit="MINUTES" startDelay="1"/>
    		</scheduling-strategy>
  		</scheduler>

		<!-- Maximum 7 minutes -->
		<set-variable variableName="untilMaxRetries" value="#[21]" />
		<set-variable variableName="untilMillisBetweenRetries" value="#[20000]" />
		<set-variable variableName="processNextView" value="#[false]" />
		<flow-ref name="set-view-contact" />
		<flow-ref name="execute-orchestrator" />

		<choice doc:name="process view address? " >
			<when expression='#[ vars.processNextView == true ]'>
				<flow-ref name="set-view-address" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view email? " >
			<when expression='#[ vars.processNextView == true ]'>
				<flow-ref name="set-view-email" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view phone? " >
			<when expression='#[ vars.processNextView == true ]'>
				<flow-ref name="set-view-phone" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

	</flow>

	<flow name="orchestrator-account">
  		<scheduler disallowConcurrentExecution="true">
    		<scheduling-strategy>
    			<fixed-frequency frequency="30" timeUnit="MINUTES" startDelay="6"/>
    		</scheduling-strategy>
  		</scheduler>

		<!-- Maximum 3 minutes -->
		<set-variable variableName="untilMaxRetries" value="#[12]" />
		<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
		<set-variable variableName="processNextView" value="#[false]" />
		<flow-ref name="set-view-contact" />
		<flow-ref name="execute-orchestrator" />

		<choice doc:name="process view account ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 90 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[90]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[60000]" />
				<flow-ref name="set-view-account" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view accountudf ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-accountudf" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view agencyregion ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-agencyregion" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<!-- Reprocess Contact and Account for balance -->

		<choice doc:name="process view contact ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-contact" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view account ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-account" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view balance ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 90 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[90]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[60000]" />
				<flow-ref name="set-view-balance" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<!-- Reprocess Contact and Account for disbursement -->

		<choice doc:name="process view contact ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-contact" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view account ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 3 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[12]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[15000]" />
				<flow-ref name="set-view-account" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

		<choice doc:name="process view balance ? " >
			<when expression='#[ vars.processNextView == true ]'>
				<!-- Maximum 90 minutes -->
				<set-variable variableName="untilMaxRetries" value="#[90]" />
				<set-variable variableName="untilMillisBetweenRetries" value="#[60000]" />
				<flow-ref name="set-view-disbursement" />
				<flow-ref name="execute-orchestrator" />
			</when>
		</choice>

	</flow>

</mule>